  <div id="block-content">
    <h1>Ты должен пройти веб-квест!</h1>
    <p>Особенностью веб-квестов является то, что часть информации или вся информация, представленная на сайте для самостоятельной или групповой работы учащихся, находится на самом деле на различных веб-сайтах. Благодаря же действующим гиперссылкам, учащиеся этого не ощущают, а работают в едином информационном пространстве, для которого не является существенным фактором точное местонахождение той или иной порции учебной информации. Учащемуся  дается задание собрать материалы в Интернете по той или иной теме, решить какую-либо проблему, используя эти материалы. Ссылки на часть источников даются  преподавателем, а часть они могут найти сами, пользуясь обычными поисковыми системами. По завершении квеста ученики либо представляют собственные веб-страницы по данной теме, либо какие-то другие творческие работы в электронной, печатной или устной форме.


      Технология web-квест  позволяет  в полной мере реализовать наглядность, мультимедийность и интерактивность обучения.
      Наглядность включает в себя различные виды демонстраций, презентаций, видео, показ графического материала в любом количестве.
      Мультимедийность добавляет к традиционным методам обучения использование звуковых, видео-, анимационных эффектов.
      Интерактивность объединяет все вышеперечисленное и позволяет воздействовать на виртуальные объекты информационной среды, помогает внедрять элементы личностно ориентированного обучения, предоставляет возможность учащимся  полнее раскрывать свои способности.
      Использование данной технологии в процессе обучения дает возможность:
      повысить заинтересованность учащихся в изучении учебной дисциплины;
      повысить мотивацию обучения;
      использовать различные виды информации для восприятия (текстовая, графическая, видео и звуковая);
      наглядно представлять разнообразные  ситуационные задачи и т.д.;
      воспитывать информационную культуру учащихся.</p>
<%= link_to 'Начать', new_user_registration_path, class: "button1" %>
  </div>
